<input type="number" class="inputPage" min="1" max={{ max }}>
<input type="hidden" value={{ url }}>
<input type="hidden" class="ipp" value={{ items_per_page }}>
<span class="paginateToGo paginate"></span>