{% block login %}
  <div class="login col-5 col-md-3 dropdown">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <P translate="LOGIN"  class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"  data-toggle="dropdown">{{ lang_login }}</P>
    <div class="dropdown-menu ">
        <div class="row">
            <div class="col-md-12 loginDrop">
                <input type='text' class="loginName form-control" placeholder="Login name"/>
                <input type="password" class="loginPassword form-control" placeholder="passworld"/>
                <div class="button ajaxBut" herf='login' translate="LOGIN" instance='login'>{{ lang_login }}</div>
                <hr class="loginHr">
                <h4>OR</h4>
                <div class="society">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.dropdown-toggle').dropdown();
            });
        </script>
  </div>

{% endblock %}



