{% block login %}

        <div class="logout ajaxBut" instance="logout" >
            <a name="logout" translate='LOGOUT' id="but"  > {{ logout|default ('Logut') }} </a>
        </div>

{% endblock %}